[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygal = "*"
jupyter = "*"
matplotlib = "*"
sympy = "*"
ipython = "*"
plotly = "*"
pandas = "*"
numpy = "*"
jupyterthemes = "*"

[dev-packages]

[requires]
python_version = "3.7"
